.footer {
  padding: 80px 0 62px 0;
  background-color: #c0707c;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.footer__copyright {
  font-size: 12px;
  font-family: GilroyRegular, sans-serif;
  color: rgb(227, 172, 180);
  margin-top: 19px;
}

.footer__social-icon {
  width: 35px;
  height: 35px;
}

.footer__social-icon path {
  fill: #ffffff;
}

.footer__social {
  text-align: center;
}

.footer__social a {
  text-decoration: none;
}

.footer__social-text {
  font-size: 16px;
  font-family: GilroyBold, sans-serif;
  color: rgb(255, 255, 255);
  margin-top: 15px;
}

.footer__phone {
  font-size: 16px;
  font-family: GilroyBold, sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.present {
  position: fixed;
  right: 48px;
  bottom: 48px;
  z-index: 3;
}

.present__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.present__popup {
  font-size: 15px;
  font-family: GilroyMedium, sans-serif;
  color: rgb(119, 10, 29);
  padding: 15px 11px 14px 10px;
  margin-right: 40px;
  background-color: #feefee;
  border: 2px solid #821328;
  border-radius: 10px;
  width: 172px;
  position: relative;
  transition: all 1s;
  transform: translate(0, 200%);
  opacity: 0;
}

.present__popup::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: -30px;
  bottom: 15px;
  border: 15px solid;
  border-color: transparent transparent transparent #821328;
}

.present__popup::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: -25px;
  bottom: 17px;
  border: 13px solid;
  border-color: transparent transparent transparent #feefee;
  z-index: 1;
}

.present__logo::before {
  content: '';
  border-radius: 50%;
  width: 90px;
  height: 90px;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, rgba(113, 8, 30, 1) 0%, rgba(215, 72, 92, 1) 100%);
  z-index: -1;
  transition: all .5s;
}

.present:hover .present__logo::before {
  box-shadow: 0px 0px 12.6px 2.4px rgba(130, 19, 40, 0.5);
  transform: translate(-50%, -50%) scale(1);
}

.present:hover .present__popup {
  transform: translate(0, 0);
  opacity: 1;
}
