<header-component></header-component>
<section class="main">
  <div class="container main__container">
    <div class="main__info">
      <h1 class="main__title">
        Мягкие французские
        пироженки Macaroons
      </h1>
      <h2 class="main__subtitle">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </h2>
      <div class="main__actions">
        <button class="btn main__btn" (click)="scrollTo(macaroonsElement)">Выбрать макарун</button>
      </div>
    </div>
    <div class="main__image">
      <img src="images/main_image.png" alt="Main Image" class="main__image-img">
    </div>
  </div>
</section>
<section class="description" id="description">
  <div class="container description__container">
    <div class="description__info">
      <h2 class="description__title">Мы печём для вас
        вкуснейшие макаруны
        уже более 10 лет</h2>
      <h3 class="description__subtitle">Все пироженки мы готовим только из натуральных и качественных продуктов,
        без консервантов, ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без
        дрожжей, маргарина, разрыхлителей и улучшителей муки.</h3>
    </div>
    <div class="description__img">
      <img src="images/description_image.png" alt="Main Image" class="description__img-img">
    </div>
  </div>
</section>
<section class="advantages">
  <div class="container advantages__container">
    <div class="advantages__items">
      @for (advantage of advantages; track advantage.title; let i = $index) {
        <div class="advantage">
          <div class="advantage__number">{{ i + 1 }}</div>
          <div class="advantage__title">{{ advantage.title }}</div>
          <div class="advantage__text">{{ advantage.text }}</div>
        </div>
      }
    </div>
  </div>
</section>

<section class="macaroons" id="macaroons" #macaroonsElement>
  <div class="container macaroons__container">
    <h3 class="macaroons__title">Выберите свой макарун</h3>
    <div class="macaroons__items">
      @for (macaroon of macaroons; track macaroon.image;) {
        <div class="macaroon">
          <div class="macaroon__image">
            <img src="images/{{ macaroon.image }}" alt="First Macaroon Image" class="macaroon__image-img">
          </div>
          <div class="macaroon__content">
            <div class="macaroon__title">{{ macaroon.title }}</div>
            <div class="macaroon__order-block">
              <div class="macaroon__count">{{ macaroon.count }}</div>
              <div class="macaroon__price">{{ macaroon.price }}</div>
              <div class="btn macaroon__order" (click)="addToOrder(macaroon, orderElement)">Заказать</div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>

<section class="order" id="order" #orderElement>
  <div class="container order__container">
    <div class="order__strawberry">
      <img src="images/strawberry.png" alt="strawberry" class="order__strawberry-img">
    </div>
    <div class="order__second-strawberry">
      <img src="images/strawberry_2.png" alt="second strawberry">
    </div>
    <div class="order__image">
      <img src="images/macaron.png" alt="Macaron" class="order__image-img">
    </div>
    <div class="order__info">
      <div class="order__title">Закажите макарун!</div>
      <div class="order__subtitle">Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего
        пекаря!
      </div>
      <div class="order__information">
        <div class="order__information-text">Ваш выбор</div>
        <input type="text"
               class="base-input order__base-input"
               placeholder="Напишите, что хотите заказать..."
               [(ngModel)]="orderValues.productTitle"
        >
      </div>
      <div class="order__place">
        <div class="order__place-text">Заполните данные для заказа</div>
        <input type="text"
               class="base-input order__base-input"
               placeholder="Ваше имя"
               [(ngModel)]="orderValues.namePerson"
        >
        <input type="text"
               class="base-input order__base-input"
               placeholder="+375 (__) ___ - __ - __"
               [(ngModel)]="orderValues.phonePerson"
        >
        <div class="btn order__place-order" (click)="createOrder()">Оформить заказ</div>
      </div>
    </div>
  </div>
</section>

<footer-component></footer-component>
