.main {
  padding: 127px 0 108px 0;
  background: #eba8b1;
  overflow: hidden;
}

.main__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__info {
  max-width: 580px;
}

.main__title {
  font-size: 55px;
  color: rgb(255, 255, 255);
  line-height: 1.091;
  margin-bottom: 60px;
}

.main__subtitle {
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1.389;
  margin-bottom: 80px;
  max-width: 349px;
}

.main__btn {
  width: 240px;
  height: 60px;
  border-radius: 30px;
  padding: 22px;
  font-size: 18px;
  line-height: 4px;
}

.main__image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main__image::before, .main__image::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 1;
  animation: pulse 3s ease-out infinite;
  border: 1px solid #821328;
  opacity: 0;
}

.main__image::after {
  animation-delay: .5s;
}

.main__image-img {
  z-index: 2;
}


.description {
  padding: 119px 0 30px 0;
  background-color: rgb(255, 239, 239);
}

.description__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description__title {
  font-size: 45px;
  color: rgb(51, 25, 7);
  line-height: 1.222;
  max-width: 475px;
}

.description__subtitle {
  font-size: 18px;
  font-family: GilroyRegular, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  max-width: 400px;
  padding-top: 60px;
}

.macaroons {
  padding: 120px 0 120px 0;
  background: #eba8b1;
}

.macaroons__items {
  display: grid;
  gap: 136px 29px;
  grid-template-columns: repeat(auto-fill, minmax(263px, 263px));
  justify-content: center;
}

.macaroons__title {
  font-size: 45px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 143px;
}

.order {
  padding: 98px 0 120px 0;
  background-color: rgb(255, 239, 239);
}

.order__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.order__strawberry {
  position: absolute;
  top: 44px;
  left: 3px;
  animation: swimming 3s infinite;
}

.order__second-strawberry {
  position: absolute;
  bottom: 75px;
  right: 100px;
  animation: swimming 3s infinite;
}

.order__info {
  max-width: 406px;
}

.order__title {
  font-size: 45px;
  color: rgb(51, 25, 7);
  line-height: 1.222;
  margin-bottom: 41px;
}

.order__subtitle {
  font-size: 18px;
  font-family: GilroyRegular, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  margin-bottom: 48px;
}

.order__information {
  margin-bottom: 25px;
}

.order__information-text {
  font-size: 18px;
  font-family: GilroyBold, sans-serif;
  color: rgb(18, 10, 6);
  font-weight: bold;
  margin-bottom: 20px;
}

.base-input {
  padding: 22px 26px 24px 25px;
  border: 1px solid #821328;
  border-radius: 30px;
  background-color: rgb(255, 239, 239);
  outline: none;
  font-size: 15px;
  font-family: GilroyBold, sans-serif;
  color: rgb(118, 12, 34);
}

.order__base-input {
  width: 294px;
  height: 60px;
  margin-bottom: 15px;
}

.base-input::placeholder {
  color: rgb(118, 12, 34);
}

.order__place-text {
  font-size: 18px;
  font-family: GilroyBold, sans-serif;
  color: rgb(18, 10, 6);
  margin-bottom: 22px;
}

.order__place-order {
  width: 294px;
  height: 60px;
  border-radius: 30px;
  font-size: 18px;
  font-family: GilroyBold, sans-serif;
  color: rgb(255, 255, 255);
  padding: 17px;
}

@keyframes swimming {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -30%);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(3.5);
    opacity: 0;
  }
}
