.macaroon {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  border: 2px solid #ffffff;
  border-radius: 20px;
  padding: 27px 20px;
  position: relative;
}

.macaroon__content {
  margin-top: 80px;
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
}

.macaroon__image {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease;
}

.macaroon:hover .macaroon__image {
  transform: translate(-50%, -50%) scale(1.1);
}

.macaroon__title {
  font-size: 18px;
  color: rgb(255, 255, 255);
  margin-bottom: 26px;
}

.macaroon__order-block {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  column-gap: 36px;
}

.macaroon__count {
  grid-column: 1;
  font-size: 15px;
  font-family: GilroyRegular, sans-serif;
  color: rgb(255, 255, 255);
}

.macaroon__price {
  grid-column: 1;
  grid-row: 2;
  font-size: 15px;
  font-family: GilroyRegular, sans-serif;
  color: rgb(255, 255, 255);
}

.macaroon__order {
  grid-column: 2;
  grid-row: 1 / 3;
  width: 130px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  padding: 20px;
  line-height: 5px;
}
